[server default]
manager_log=/etc/mha/manager.log
manager_workdir=/etc/mha
master_ip_failover_script=/etc/mha/master_ip_failover

repl_user=repluser
repl_password=123qqq...A

ssh_port=22
ssh_user=root

user=root
password=123qqq...A

[server1]
candidate_master=1
hostname=192.168.4.51
port=3306

[server2]
candidate_master=1
hostname=192.168.4.52
port=3306

[server3]
candidate_master=1
hostname=192.168.4.53
port=3306
